.dashboard-contianer {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100vh;
}

.dashboard-header {
    grid-row: 1;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background: #f5f5f5;
    color: #333333; 

    font-family: 'Roboto', sans-serif;
    font-size: 0.75rem;
}

.dashboard-content {
    grid-row: 2;
    display: grid;
    grid-template-columns: 250px 1fr;
}

.dashboard-content Menu {
    grid-column: 1;
}

.dashboard-content ContactList {
    grid-column: 2;
}

.dashboard-icon {
    font-size: 1.5rem;
    color: #4a4a4a; 
}

.sidebar-contacts {
    height: 100%;
    min-height: 100vh;
    width: fit-content;
    background: #f5f5f576; 
}

.sidebar-list {
    margin: 0;
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    list-style: none;
}

.sidebar-list-item {
    color: #333333; 
    transition: 0.2s ease-in-out;
}

.sidebar-list-item:hover {
    cursor: pointer;
    transform: scale(1.02);
    color: #007bff;
}

.active {
    text-decoration: underline;
}

.contact-list {
    width: 100%;
    padding-top: 1rem;
}

.contact-list-item {
    transition: 0.2s ease-in-out;
}

.contact-list-item:hover {
    cursor: pointer;
    color: #007bff;
}

  
.contact-table {
    width: 90%;
    border-collapse: collapse;
}
  
.contact-table th,
.contact-table td {
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-family: 'Roboto', sans-serif;

}

.contact-table th {
    color: rgb(140, 140, 140);
    padding: 1rem;
    font-size: 0.95rem;
}

.contact-table td {
    font-size: 0.83rem;
    padding: 1.5rem 1rem;
}

.contact-card {
    font-family: 'Roboto', sans-serif;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 1.2rem;
    width: 85%;
    margin: 2rem 0;
    height: fit-content;
    transition: transform 0.3s ease;
}
  
.contact-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
  
.avatar {
    font-size: 2.5rem;
    color: #3498db;
    margin-right: 16px;
    background-color: #ecf0f1;
    padding: 12px;
    border-radius: 50%;
}
  
h2 {
    margin: 0;
    color: #2c3e50;
    font-size: 1.6rem;
}
  
.contact-info p {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    color: #34495e;
}

.contact-info p strong {
    margin-right: 0.5rem;
}
  
  .contact-info svg {
    margin-right: 10px;
    color: #3498db;
  }
  
  .back-btn {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
    margin-top: 20px;
  }
  
  .back-btn:hover {
    background-color: #2980b9;
  }
  
  .back-btn svg {
    margin-right: 8px;
  }